[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "aimsir17"]
	path = aimsir17
	url = https://github.com/jimduggan/aimsir17
	shallow = true
	registered = true
